body {
    font-family: sans-serif;
    margin: 0;
}

wrapper {
    text-align: center;
}

.board-container,
.form {
    background-color: #f2d3ea;
}

.cell,
.input {
    background-color: #fff;

}

.board-container {
    display: none;
    margin: 30px auto;
    padding: 5px;
    width: 314px;
    text-align: center;
}

.cell {
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 1px 1px;
    text-align: center;
    font-size: 75px;
    line-height: 100px;
    vertical-align: middle;
    text-shadow: 1px 1px 3px #cca2bd;
}

button {
    margin: 15px 0 10px 0px;
    width: 101px;
    padding: 7px 0px;
}

label {
    font-size: 12px;
    margin-left: 5px;
}

input[type=checkbox] {
    vertical-align: middle;
    height: 20px;
    width: 20px;
}

input[type=text] {
    margin-top: 8px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
}

.form {
    padding: 20px 0 5px 0;
    margin: 0px;
}



.message {
    background-image: linear-gradient(to right, #f2d3ea, #f35cbe, #f2d3ea);
    width: 400px;
    line-height: 40px;
    margin: 0 auto;
}

.winner {
    background-image: linear-gradient(to right, #f2d3ea, #94e96c, #f2d3ea) !important;
}